.form
{
    margin-right: -175px;
}

.row
{
    margin-left: 58px;
}
.py-5 {
    padding-top: 1rem!important;
    padding-bottom: 3rem!important;
}
/* .row[_ngcontent-hkx-c109] {
    margin-left: 21px;
} */
/* .form[_ngcontent-pcx-c109] {
    margin-right:-280px;
} */
.form[_ngcontent-jgs-c109] {
    margin-right: 42px;
}

.btn-group-lg>.btn, .btn-lg {
    padding: .5rem 1rem;
    font-size: 18px;
    border-radius: .3rem;
    margin-bottom:10px;
}