<p>home works!</p>
<div class="py-5">
    <div class="container-fluid py-5">
       <div class="row">
          <div class="col-md-3">
             <div class="form-outline flex-fill">
                <label>From Place</label>
                <input type="text"  [(ngModel)]="inventoryData.fromPlace" class="form-control" placeholder="From Place" />
              
             </div>
          </div>
          <div class="col-md-3">
             <div class="form-outline flex-fill">
                <label>To Place</label>
               
              <input type="text" [(ngModel)]="inventoryData.toPlace" class="form-control" placeholder="To Place"  />
             </div>
          </div>
          <div class="col-md-3">
             <div class="form-outline flex-fill">
                <label>Departure Date</label>
                <input type="date" [(ngModel)]="inventoryData.startDateTime"  class="form-control" placeholder="Departure Date"  />
             </div>
          </div>
          <div class="col-md-3">
             <div class="form-outline flex-fill">
                <label>Return Date</label>
                <input type="date" class="form-control" [(ngModel)]="inventoryData.endDateTime"  placeholder="Return Date"  />
             </div>
          </div>
       </div>
       <div class="row py-4">
          <div class="col-md-4">
             <div class="form-outline flex-fill">
                <button type="submit" class="btn btn-success btn-lg align-items-center"
                   style="padding-left: 2.5rem; padding-right: 2.5rem;" (click)="SearchInventoyr()">Search</button>
             </div>
          </div>
       </div>
     
       <div class="row"  *ngIf="IsSearch">
          <div class="col text-center" style="padding-top: 30px!important;">
              <h2  style="background-color: coral;">Flights</h2>
              <p class="text-h3"></p>
          </div>
          </div> 
       <div class="table-responsive ">
          <table id="dtDynamicVerticalScrollExample" class="table table-striped table-bordered table-sm" cellspacing="0"
             width="100%" *ngIf="IsSearch">            
             <thead class="bg-info">
                <tr>
                   <th class="th-sm">Flight</th>
                   <!-- <th class="th-sm">Airline</th> -->
                   <th class="th-sm">From
                   </th>
                   <th class="th-sm">To
                   </th>
                   <th class="th-sm">StartDate
                   </th>
                   <th class="th-sm">EndDate
                   </th>
                   <th class="th-sm">Meal
                   </th>
                   <th class="th-sm">Price
                   </th>
                   <!-- <th class="th-sm">Action</th> -->
                </tr>
             </thead>
             <tbody>
                <tr *ngIf="IsError">
                   <td colspan="9">{{errorRes}}</td>
                </tr>
                <tr *ngFor="let detail of inventoryModellist;index as i">
                   <td>{{detail.flightNo}}</td>
                   <!-- <td>{{detail.airlineNo}}</td> -->
                   <td>{{detail.fromPlace}}</td>
                   <td>{{detail.toPlace}}</td>
                   <td>{{detail.startDateTime}}</td>
                   <td>{{detail.endDateTime}}</td>
                   <td>{{detail.meal}}</td>
                   <td>{{detail.price}}</td>
                  
                </tr>
             </tbody>
          </table>
       </div>
    </div>
 </div>